page-more,
more-detail-page {
    .item,
    .item-inner {
        background: transparent;
        color: #757575;
    }
    .item-block:last-child {
        border-bottom: 0 !important;
    }
    ion-list {
        margin: 0 !important;
    }
    ion-icon {
        margin: 0px 16px 0px 0;
    }
    ion-content {
        color: #757575 !important;
    }
    .scroll-content {
        background-image: linear-gradient(#fff, #f2f2f2) !important;
    }
}