page-more,
more-detail-page {
    .item,
    .item-inner {
        background: transparent;
        color: #fff;
    }
    .item-block:last-child {
        border-bottom: 0 !important;
    }
    ion-list {
        margin: 0 !important;
    }
    ion-icon {
        margin: 0px 16px 0px 0;
    }
}