login {
    //.invalid {border-bottom: 1px solid #FF6153;}
    .error-message {
        background: rgb(255, 167, 167) !important;
        min-height: 16px;
        margin-top: 0px;
        border-radius: 0 0 3px 3px;
    }
    .error-message .label {
        margin: 8px 8px 8px 0 !important;
        padding: 0 0 0 15px !important;
        text-align: left !important;
    }
    .error-message p {
        color: #772f2f;
        font-weight: 600;
    }
    .item {
        background: transparent;
        padding: 0;
        border-top: 0 !important;
    }
    .grid,
    .col {
        padding: 0;
    }
    .signupbtn {
        text-align: right;
        line-height: 52px;
    }
    .orTxt {
        text-align: center;
        line-height: 52px;
    }
    a {
        font-size: 17px;
        padding: 10px 36px;
        border-radius: 7px;
        margin-left: 10px;
    }
    p {
        text-align: center;
        text-transform: uppercase;
    }
    h4 {
        margin: 40px 0 20px !important;
        font-weight: 300;
        font-size: 24px;
    }
    ion-card {
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1) !important;
    }
}