<ion-header>
    <ion-navbar color="secondary">
        <ion-title>Jugnu Kids</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToHome()">
              <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="noVideosMessage">
        <p class="notVideoAvailable">Oops! No videos to watch right now... Try again after some time</p>
    </div>
    <ion-card *ngFor="let video of videoList">
        <div class="videoThumb">
            <a (click)="openMedia(video.mediaUrl)">

                <ion-icon name="play"></ion-icon>

            </a>
            <img [src]="video.thumbUrl | normalized">
        </div>
        <p>{{video.title}}</p>


    </ion-card>
</ion-content>