<ion-header>
    <ion-navbar color="secondary">
        <ion-title>My Books</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="noBooksMessage">
        <b>You don't have any books yet! Get one now!!!</b>
        <button block ion-button class="btn" (click)="goToSearchTab()" *ngIf="deviceOnline">Search Books</button>
    </div>
    <ion-grid>
        <ion-row>
            <ng-container *ngFor="let book of myBooks">
                <ion-col col-6 *ngIf="deviceOnline || book.pageCount > 0">
                    <ion-card>
                        <button class="scanBtn" *ngIf="deviceOnline" (click)="scanBook(book)">Scan</button>
                        <img [src]="book.imageUrl">
                        <button block ion-button class="btn" *ngIf="book.pageCount > 0" (click)="showPages(book)">Pages</button>
                        <button block ion-button class="btn" (click)="confirmDeletion(book)">Delete</button>
                    </ion-card>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>

</ion-content>