<ion-header>
    <ion-navbar color="secondary">
        <ion-title>My Books</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="noBooksMessage">
        <p class="notBookAvailable">You don't have any books yet! Get one now!!!</p>
        <button color="primary" block ion-button (click)="goToSearchTab()" *ngIf="deviceOnline">Search Books</button>
    </div>
    <ion-grid>
        <ion-row>
            <ng-container *ngFor="let book of myBooks">
                <ion-col col-6 *ngIf="deviceOnline || book.pageCount > 0">
                    <ion-card>
                        <div class="bookThumb">
                            <img [src]="getUrl(book.imageUrl)">
                        </div>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3>
                                    <button class="scanBtn" *ngIf="deviceOnline" (click)="scanBook(book)">
                                            <img src="assets/img/scan_icon.png">
                                        </button>
                                </ion-col>
                                <ion-col col-6 class="borderCol">
                                    <button class="showPages" ion-button block *ngIf="book.pageCount > 0" (click)="showPages(book)">Pages</button>
                                </ion-col>
                                <ion-col col-3>
                                    <button class="deleteBtn" ion-button color="danger" clear (click)="confirmDeletion(book)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>
</ion-content>