page-my-books {
    ion-card {
        background: #fff !important;
        color: #767676 !important;
        img {
            display: block !important;
        }
    }
    .card {
        margin: 0;
        width: 100%;
        position: relative;
    }
    .grid {
        padding: 0;
    }
    .scroll-content {
        padding: 10px !important;
    }
    .notBookAvailable {
        text-align: center;
        font-size: 40px;
        font-weight: 100;
    }
    .col {
        text-align: center !important;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .bookThumb {
        height: 220px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    .showPages {
        background-image: linear-gradient(to bottom right, #ccc, #fff) !important;
        color: #767676 !important;
        height: 33px;
        font-size: 14px !important;
        margin: 0;
        border-radius: 3px !important;
    }
    .scanBtn {
        background: transparent;
        margin: 0;
        img {
            width: 30px !important;
            max-width: inherit !important
        }
    }
    .pagesBtn {
        background: rgba(255, 255, 255, 0.71);
        color: #767676;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        height: 30px;
        margin: 5px 0 0;
    }
    .deleteBtn {
        font-size: 30px !important;
        color: #767676 !important;
        padding: 0 !important;
        height: auto;
    }
    .borderCol {
        border-width: 0 1px 0 !important;
        border: solid #767676;
    }
}