page-my-books {
    .card {
        margin: 0;
        width: 100%;
    }
    .grid {
        padding: 0;
    }
    .scroll-content {
        padding: 16px !important;
    }
    button {
        margin: 0 !important;
        border-radius: 0 !important;
    }
}