page-my-pages {
    ion-card {
        background: #324d5c !important;
        color: #fff;
        img {
            display: block !important;
        }
    }
    .col {
        text-align: center !important;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .deleteBtn {
        font-size: 30px !important;
        color: #fff !important;
        height: 35px;
        margin: 0;
        padding: 0;
    }
    .pageNumber {
        border-right: 1px solid #4c6471;
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
    }
    .bookThumb {
        height: 200px;
        overflow: hidden;
    }
}