<ion-header>
    <ion-navbar color="secondary">
        <ion-title>My pages</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="noPagesMessage">
        <b>You don't have any content for this book yet! Scan a page to get content!!!</b>
    </div>
    <ion-grid>
        <ion-row>
            <ng-container *ngFor="let page of myPages">
                <ion-col col-6>
                    <ion-card>
                        <div class="bookThumb">
                            <img [src]="getUrl(page.imageUrl)" tappable (click)="openMedia(page.contentUrl)">
                        </div>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6 class="pageNumber">
                                    {{ getPageNumber(page.pageId) }}
                                </ion-col>
                                <ion-col col-6>
                                    <button class="deleteBtn" ion-button color="danger" clear (click)="confirmDeletion([page])"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>
</ion-content>