home {
    .content {
        background: #b74620 url(../../assets/img/mobile-app-bg.png) no-repeat bottom;
        background-size: 100%;
        color: #fff !important;
    }
    .scroll-content {
        text-align: center;
        text-align: center;
        margin: 40px 0 0;
        img {
            margin: 0 auto;
        }
        p {
            font-size: 24px;
            padding: 0 22px 10px;
        }
        button {
            width: 70%;
            margin: 0 auto;
            height: 55px;
        }
    }
}