home {
    .content {
        background-image: linear-gradient(1deg, #ffc27d, #b23729);
        color: #fff !important;
    }
    .scroll-content {
        text-align: center;
        display: flex;
        align-items: normal;
        justify-content: center;
        flex-direction: column;
        img {
            margin: 0 auto;
        }
        p {
            font-size: 26px;
            padding: 0 22px 60px;
        }
        button {
            width: 70%;
            margin: 0 auto;
            height: 70px;
        }
    }
}