page-help {
    .swiper-slide {
        display: inline;
        img {
            bottom: -20px;
            position: relative;
        }
    }
    .scroll-content {
        // background-image: linear-gradient(rgba(189, 189, 189, 0.388235), rgba(255, 255, 255, 0.68), #e6e6e6) !important;
        padding: 0 17px;
    }
    .swiper-pagination-bullet-active {
        background: #ff9ea3;
        opacity: 1;
    }
}