page-help {
    .swiper-slide {
        display: inline;
        img {
            bottom: -20px;
            position: relative;
        }
    }
    .scroll-content {
        background-image: linear-gradient(rgb(255, 233, 180), rgba(255, 255, 255, 0.68), #ffffff) !important;
        padding: 0 17px;
    }
    .swiper-pagination-bullet-active {
        background: #fec12b;
        opacity: 1;
    }
}