<ion-header>
    <ion-navbar color="secondary">
        <ion-title>Book Details</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-5>
                <ion-card>
                    <ion-card-content>
                        <img [src]="currentBook?.imageUrl" />
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-7>
                <h3>{{currentBook?.title}}</h3>
                <p>{{currentBook?.publisherName}}</p>
                <button *ngIf="!isBookDownloaded() && !bookLoadInProgress()" class="btn btnBottom" (click)="getBook()" ion-button type="button" block>Get This Book</button>
                <button *ngIf="isBookDownloaded() && !bookLoadInProgress()" class="btn btnBottom" (click)="scanForImage()" ion-button type="button" block>Scan This Book</button>
                <!-- Display progress bar while downloading books -->
                <progress-bar *ngIf="bookLoadInProgress()" [progress]="downloadProgress"></progress-bar>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="hightlights">
        <ion-row>
            <!-- TODO: display proper values-->
            <ion-col>
                <div class="classBg">
                    <span tappable (click)="goBackToSearch('class')">{{currentBook?.schoolClass}}</span> Class
                </div>
            </ion-col>
            <ion-col>
                <div class="subjectBg">
                    <span tappable (click)="goBackToSearch('subject')">{{currentBook?.subject}}</span> Subject
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <!-- TODO: display proper values-->
            <ion-col *ngIf="currentBook?.noOfVideos > 0">
                <div class="videosBg">
                    <span>{{currentBook?.noOfVideos}}</span> Videos
                </div>
            </ion-col>
            <ion-col *ngIf="currentBook?.noOfActivities > 0">
                <div class="activitiesBg">
                    <span>{{currentBook?.noOfActivities}}</span> Activities
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <button block ion-button color="dark">More UKG Books</button> -->
</ion-content>