// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
    color: rgba(0, 0, 0, .87) !important;
}

// .content {
//     background: #fff url(../assets/img/mobile-app-bg.png) no-repeat bottom center;
//     background-size: cover;
// }
.content {
    background-image: linear-gradient(1deg, #ffc27d, #ffffff);
    //background-image: linear-gradient(#b04937, #683e94);
}

ion-card {
    margin: 0 !important;
    width: 100% !important;
}

.tabbar {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.item {
    padding: 0 !important;
    border-top: 0 !important;
}

.item-inner {
    border-bottom: 0.55px solid #c8c7cc !important;
    color: #000;
}

.btnMrg {
    margin-top: 30px !important;
}

h4 {
    text-align: center;
}

ion-card-content {
    padding: 10px !important;
}

.grid {
    padding: 0 !important;
}

img {
    height: auto;
    display: inline-block !important;
}

ion-title,
.tab-button-text,
button {
    text-transform: uppercase !important;
}

.back-button {
    text-transform: capitalize !important;
}

.toolbar {
    min-height: 50px;
}

.back-button-md {
    position: absolute;
    z-index: 1;
}

.header-md {
    text-align: center;
}

p {
    font-size: 17px;
}

@media only screen and (min-width: 768px) {
    .scroll-content {
        margin: 110px 0 0 !important;
    }
    .bookThumb {
        height: 500px !important;
        overflow: hidden !important;
        img {
            height: 100%;
        }
    }
    page-search-books p {
        font-size: 20px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        height: 40px;
    }
    page-scan-book {
        .classBg,
        .subjectBg,
        .videosBg,
        .activitiesBg {
            height: 190px !important;
            font-size: 24px;
        }
        .classBg span,
        .subjectBg span,
        .videosBg span,
        .activitiesBg span {
            font-size: 35px !important;
        }
        .btnBottom {
            height: 60px;
            font-size: 22px;
        }
    }
}