// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
    color: #000 !important;
}

.content {
    background: #ffd200 url(../assets/img/mobile-app-bg.png) no-repeat bottom center;
    background-size: cover;
}

ion-card {
    margin: 0 !important;
    width: 100% !important;
    border-radius: 5px !important;
    color: #000 !important;
}

.toolbar-background {
    border-color: #f1ab00 !important
}

.tabbar {
    background: transparent !important;
    border-top: transparent !important;
    box-shadow: 0px -1px 40px rgba(72, 142, 149, 0.45);
}

.item {
    padding: 0 !important;
    border-top: 0 !important;
}

.item-inner {
    border-bottom: 0.55px solid #c8c7cc !important;
    color: #000;
}

.btnMrg {
    margin-top: 30px !important;
}

h4 {
    text-align: center;
}

ion-card-content {
    padding: 10px !important;
}

.grid {
    padding: 0 !important;
}

img {
    height: auto;
    display: inline-block !important;
}

ion-title,
.tab-button-text,
button {
    text-transform: uppercase !important;
}

.back-button {
    text-transform: capitalize !important;
}

.toolbar {
    min-height: 50px;
}

.back-button-md {
    position: absolute;
    z-index: 1;
}

.header-md {
    text-align: center;
}

.popover-content {
    padding: 15px;
    width: 60% !important;
}

button {
    border-radius: 100px !important;
}

page-search-books p {
    margin: 0px 6px !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
}

@media only screen and (min-width: 768px) {
    .bookThumb {
        height: 500px !important;
        overflow: hidden !important;
    }
}