page-search-books {
    .scroll-content {
        padding: 10px !important;
    }
    p {
        margin: 8px 6px !important;
        font-size: 16px !important;
        text-align: center;
        font-weight: 500;
        text-transform: capitalize;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 49px;
    }
    ion-card-content {
        padding: 0px !important;
    }
    .bookThumb {
        height: 220px;
        overflow: hidden;
        img {
            height: 100% !important;
        }
    }
    .card {
        background: #ffffff !important;
    }
    ion-searchbar {
        background: rgb(142, 40, 29) !important;
    }
}